.splash .navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.splash .navigation a {
    padding: 7px 10px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 14px;
    transition: 400ms all;
}

.splash .navigation a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.splash .navigation a.selected {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 1);
}